.landing {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  align-items: center;
  max-width: 360px;

  .input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;

    small {
      margin-top: 18px;
    }
  }

  .err {
    display: flex;
    height: 18px;
    margin-top: 8px;
  }

  .buttons {
    margin-top: 8px;
    display: flex;

    :last-child {
      margin-left: 8px;
    }
  }
}
